.hidden {
  opacity: 0;
  transition: all 1s;
}

.zIndex {
  z-index: 2;
}

.hidden:hover {
  display: block;
}

.who {
  position: absolute;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  left: calc(50% - 25vw);
  top: calc(50% - 40vh);
  width: 50vw;
  height: 50vh;
  /* background-color: pink; */
  transition: all 1s;

  .name {
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center; 
    justify-content: center; 
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 2vh;
    backdrop-filter: blur(2px) brightness(75%);
    background-color: rgba(111, 177, 252, .2);
    line-height: 2 ;
    font-size: 1.2vw;
    color: aliceblue;
    .title {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 6vw;
      font-family: fantasy;
      color: rgba(160, 160, 160, 0.5);
      span {
        display: inline-block;
        max-width: 0;
      }
    }
  }
  .name:hover .hidden {
    opacity: 1;
    max-width: 100%;
  }

  .education {
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center; 
    justify-content: center; 
    grid-column: 2/3;
    grid-row: 1/2;
    border-radius: 2vh;
    backdrop-filter: blur(2px) brightness(75%);
    background-color: rgba(224, 224, 224, .2);
    line-height: 2 ;
    font-size: 1.2vw;
    color: aliceblue;
    .title {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 6vw;
      font-family: fantasy;
      color: rgba(160, 160, 160, 0.5);
      span {
        display: inline-block;
        max-width: 0;
      }
    }
  }
  .education:hover .hidden {
    opacity: 1;
    max-width: 100%;
  }

  .workHistory {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center; 
    justify-content: center; 
    border-radius: 2vh;
    backdrop-filter: blur(2px) brightness(75%);
    background-color: rgba(156, 204, 101, .2);
    line-height: 2 ;
    font-size: 1.2vw;
    color: aliceblue;
    .title {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 6vw;
      font-family: fantasy;
      color: rgba(160, 160, 160, 0.5);
      span {
        display: inline-block;
        max-width: 0;
      }
    }
  }
  .workHistory:hover .hidden {
    opacity: 1;
    max-width: 100%;
  }

  .hobby {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center; 
    justify-content: center; 
    border-radius: 2vh;
    backdrop-filter: blur(2px) brightness(75%);
    background-color: rgba(255, 213, 79, .2);
    line-height: 2 ;
    font-size: 1.2vw;
    color: aliceblue;
    .title {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 6vw;
      font-family: fantasy;
      color: rgba(160, 160, 160, 0.5);
      span {
        display: inline-block;
        max-width: 0;
      }
    }
  }
  .hobby:hover .hidden {
    opacity: 1;
    max-width: 100%;
  }
}

.backButton {
  width: 100vw;
  height: 10vh;
  background: linear-gradient(to bottom, rgba(169, 169, 169, 0), rgb(169,169,169,0.5));
  position: absolute;
  align-items: center;
  bottom: 0;
  transition: all 1s;
  cursor: pointer;
}
.backButton:hover {
  height: 15vh;
  background: linear-gradient(to bottom, rgba(169, 169, 169, 0), rgb(169,169,169,0.8));
}