@keyframes moveUp {
  from {
    transform: translate(0,0);
  }

  to {
    transform: translate(0,calc(10vw - 100%));
  }
}

@keyframes moveDown {
  from {
    transform: translate(0,calc(10vw - 100%));
  }

  to {
    transform: translate(0,0);
  }
}

@keyframes colorFlow {
  0% {
    border-image-source: linear-gradient(45deg,rgb(148, 250, 156), rgb(158, 190, 255), rgb(255, 169, 243));
  }
  25% {
    border-image-source: linear-gradient(135deg,rgb(148, 250, 156), rgb(158, 190, 255), rgb(255, 169, 243));
  }
  50% {
    border-image-source: linear-gradient(225deg,rgb(148, 250, 156), rgb(158, 190, 255), rgb(255, 169, 243));
  }
  75% {
    border-image-source: linear-gradient(315deg,rgb(148, 250, 156), rgb(158, 190, 255), rgb(255, 169, 243));
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
}


.why::before{
  content: '';
  opacity: 0;
  width: 60vw;
  height: 10vw;
  position: absolute;
  top: 10vw;
  left: -0.5vw;
  border: 0.5vw dashed;
  border-image: linear-gradient(45deg,rgb(148, 250, 156), rgb(158, 190, 255), rgb(255, 169, 243));
  border-image-slice: 1;
  animation: flash 1s 13s ease 5 forwards,
             colorFlow 5s infinite;
}

.why {
  position: relative;
  right: -10vw;
  top: calc( 50vh - 15vw);
  width: 60vw;
  height: 30vw;
  display: flex;
  justify-content: space-between;
  .container {
    display: inline-block;
    mask-image: linear-gradient(transparent 15%,black 50%, transparent 85%);
    height: 30vw;
    width: 18vw;
    backdrop-filter: blur(2px) brightness(75%);
    background-color: rgba(189, 196, 181, 0.2);
    border: solid 0.2vw black;
    overflow: hidden;
    .words {
      position: relative;
      display: inline-block;
      width: 18vw;
      top: 10vw;
      left: 0;
      color: white;
      text-shadow: 0 0 1vw yellow;
      font-size: 3vw;
      line-height: 10vw;
      text-align: center;
    }
    .words.first{
      animation: moveUp 10s linear 2s 1 forwards;
    }
    .words.second{
      transform: translate(0,calc(10vw - 100%));
      animation: moveDown 10s linear 2.5s 1 forwards;
    }
    .words.third{
      animation: moveUp 10s linear 3s 1 forwards;
    }
  }
}


.backButton {
  width: 10vw;
  height: 100vh;
  background: linear-gradient(to right, rgba(169, 169, 169, 0), rgb(169,169,169,0.5));
  position: absolute;
  top:0;
  right:0;
  align-items: center;
  transition: all 1s;
  cursor: pointer;
}
.backButton::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5vw;
  height: 5vw;
  background-image: url('../../assets/arrow.png');
  background-size: cover;
  transform: translate(-50%, -100%) rotate(-90deg);
}
.backButton:hover {
  width: 15vw;
  background: linear-gradient(to right, rgba(169, 169, 169, 0), rgb(169,169,169,0.8));
}